USE [master]
GO
/****** Object:  Database [TRANSACTION_DB2]    Script Date: 2/9/2023 7:24:17 PM ******/
CREATE DATABASE [TRANSACTION_DB2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TRANSACTION_DB2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLSERVER2016\MSSQL\DATA\TRANSACTION_DB2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TRANSACTION_DB2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLSERVER2016\MSSQL\DATA\TRANSACTION_DB2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TRANSACTION_DB2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TRANSACTION_DB2]
GO
USE [TRANSACTION_DB2]
GO
/****** Object:  Table [dbo].[MS_STORAGE_LOCATION]    Script Date: 2/9/2023 7:24:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MS_STORAGE_LOCATION](
	[LOCATION_ID] [varchar](10) NOT NULL,
	[LOCATION_NAME] [varchar](100) NOT NULL,
 CONSTRAINT [PK_MS_STORAGE_LOCATION] PRIMARY KEY CLUSTERED 
(
	[LOCATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TR_BPKB]    Script Date: 2/9/2023 7:24:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TR_BPKB](
	[AGREEMENT_NUMBER] [varchar](100) NOT NULL,
	[BPKB_NO] [varchar](100) NOT NULL,
	[BRANCH_ID] [varchar](10) NOT NULL,
	[BPKB_DATE] [datetime] NULL,
	[FAKTUR_NO] [varchar](20) NULL,
	[FAKTUR_DATE] [datetime] NULL,
	[LOCATION_ID] [varchar](10) NULL,
	[POLICE_NO] [varchar](20) NOT NULL,
	[BPKB_DATE_IN] [datetime] NOT NULL,
 CONSTRAINT [PK_TR_BPKB] PRIMARY KEY CLUSTERED 
(
	[AGREEMENT_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TR_BPKB]  WITH CHECK ADD FOREIGN KEY([LOCATION_ID])
REFERENCES [dbo].[MS_STORAGE_LOCATION] ([LOCATION_ID])
GO
USE [master]
GO
